MEDEV_TP2/build
MEDEV_TP2/dist
MEDEV_TP2/nbproject
MEDEV_TP2/.dep.inc
MEDEV_TP2/.DS_Store
MEDEV_TP2/seuillage.pgm
MEDEV_TP2/histo.pgm
MEDEV_TP2/MEDEV_TP2.xcodeproj
MEDEV_TP3/test_googleTest/prog
MEDEV_TP3/prog
MEDEV_TP3/user_result
MEDEV_TP3/user_test.info
MEDEV_TP3/*.gcno
MEDEV_TP3/*.gcda
MEDEV_TP3/cc_prog
